#display-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 80%;
    width: 15%;
}

button {
    font-size: 2vw;
    margin: 1%;
}
button:hover {
    background-color: rgb(127,255,0);
}

#comming {
    font-style: italic;
    background-color: grey;
}
#comming:hover {
    background-color: rgb(105,105,105);
}