#center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#image-container {
  height: 40vmin;
  width: 60vmin;
}

#text {
  font-weight: bold;
  font-size: 4vw;
  margin: 1%;
}

#image {
  display: flex;
  border-radius: 5%;
  height: 100%;
  width: 100%;
}

#spitch {
  font-size: 2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1%;
}